@use 'sass:map';
@use 'sass:list';

@function parse-theme-to-props($entries, $parentkey: null) {
  $collection: [];

  @each $base, $value in $entries {
    $newbase: $base;

    @if $parentkey {
      $newbase: '#{$parentkey}-#{$base}';

      @if $base == 'DEFAULT' {
        $newbase: $parentkey;
      }
    }

    @if type-of($value) == 'map' {
      $collection: list.join(
        $collection,
        parse-theme-to-props($value, $newbase)
      );
    } @else {
      $collection: list.append(
        $collection,
        (
          'k': $newbase,
          'v': $value,
        )
      );
    }
  }

  @return $collection;
}

@mixin generate-css-props($entries) {
  $props: parse-theme-to-props($entries);

  @each $prop in $props {
    $k: map.get($prop, 'k');
    $v: map.get($prop, 'v');

    --#{$k}: #{$v};
  }
}
