@use 'sass:map';
@use './parse-theme-to-props' as *;

@mixin generate-css-props($entries) {
  $props: parse-theme-to-props($entries);

  @each $prop in $props {
    $k: map.get($prop, 'k');
    $v: map.get($prop, 'v');

    --#{$k}: #{$v};
  }
}
