@use 'sass:list';
@use 'sass:meta';
@use './convert' as *;

@function sizing($vals...) {
  $newlist: ();
  @each $val in $vals {
    @if type-of($val) == 'list' {
      $newlist: sizing($val...);
    } @else {
      $newlist: list.append($newlist, du-to-rem($val));
    }
  }
  @if list.length($newlist) == 0 {
    @warn "You should pass an argument to a `sizing()` function.";
    @return 0;
  }
  @return $newlist;
}
