---
import '../scss/utils/animations.scss';
import '../scss/utils/easing.scss';
import '../scss/utils/media.scss';
import '../scss/utils/shadows.scss';
import '../scss/utils/colors.scss';
import '../scss/utils/containers.scss';
import '../scss/style.scss';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Design system</title>
  </head>
  <body>
    <slot />
  </body>
</html>
